body {
    width: 900px;
    margin: 10px auto;
}


#header {
    margin-bottom: 10px;
}

#footer {
    margin-top: 10px;
}

.layout-block {
    padding: 20px;
    text-align: center;
    background-color: #b7f8ff;
    border-top: 2px solid #00a0ff;
    border-bottom: 2px solid #00a0ff;
}