/** @define $$$$$$$$$@@@@@@@@######## */

button {
  color yellow !important
  margin-top 4px !important
  margin 0 4px 0 4px !important
}

.sdfsdfs--sdfsdf--sdfsdfs--sdfsdfs--sdfsdfs_sdfsdf___sdfsdfsdf__sdfsdf__sdfsdfs__sdfsdfs {
  color red !important
}
.S----------------------------dfsdfsdfsSsdfsdfSsdfsd {
  border: 1px solid red !important
  -moz-border-radius 2px
  -webkit-border-radius 2px
  will-change: contents
}

.form
  &_hidden
    display: none !important
  &_type_login
    background-color: yellow !important
